<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yang.springbootmybatis.mapper.UserMapper">

    <update id="updateUser" parameterType="com.yang.springbootmybatis.domain.User">
        UPDATE t_user t
        SET t.`name` = #{user.name},
        t.age = #{user.age},
        t.is_married = #{user.isMarried}
        WHERE
        t.id = #{user.id};
    </update>

    <!--存储过程调用测试, 当需要返回集合时，必须使用游标-->
    <select id="procedureTest" parameterType="com.yang.springbootmybatis.domain.User" statementType="CALLABLE">
        {call p_test(
            #{po.id, mode = IN, jdbcType = INTEGER},
            #{po.classId, mode = OUT, jdbcType = INTEGER},
            #{po.age, mode = OUT, jdbcType = INTEGER}
        )}
    </select>

    <!--函数调用测试-->
    <select id="functionTest" parameterType="java.lang.Integer" resultType="java.lang.Integer" statementType="CALLABLE">
        select f_test(#{id})
    </select>

</mapper>